body {
	margin-top:100px;	
}

form {
	padding:10px;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	width:560px;
	border-top: 2px solid #858585;
	border-bottom: 4px solid #858585;
	border-left: 4px solid #BCBCBE;
	border-right: 4px solid #BCBCBE;
	background-color:#787878;
	color:#FFFFFF;
}

.form-actions {
	margin-bottom:-10px;
	background-color:#787878;
}

.input-container {
	padding-top:10px;
	color:#FFFFFF;
}

.control-group {
	margin-bottom:10px;	
}

.back-color { 
	background-color:#FFFFFF; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=#f6f6f8); 
	background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);  
	background:-webkit-gradient(linear, 0% 0%, 100% 100%, from(#b8c4cb), to(#f6f6f8)); 
} 



