body {
	margin-top:40px;	
}

form {
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	width:560px;
	color:#FFFFFF;
}

.form-window {
	border:2px solid black;
	background-color:white;
	margin-top:160px;	
}

.form-actions {
	margin-bottom:-10px;
	
}

.input-container {
	padding-top:10px;
	color:#FFFFFF;
}

.control-group {
	margin-bottom:10px;	
}

.back-color { 
	background-color:#B8C4CB; 
}

.validate-img {
	margin-bottom:-6px;
}

.help-block {
	color:#ff6c00;
}

