body {
	margin-top:50px;	
}

form {
	padding:10px;
	margin-top:200px;
	margin-left:400px;
	width:560px;
	border-top: 2px solid #858585;
	border-bottom: 4px solid #858585;
	border-left: 4px solid #BCBCBE;
	border-right: 4px solid #BCBCBE;
	background-color:#787878;
	color:#FFFFFF;
}

.form-actions {
	margin-bottom:-10px;
	background-color:#787878;
}

.input-container {
	padding-top:10px;
	color:#FFFFFF;
}

.control-group {
	margin-bottom:10px;	
}



