body {
	background-color:#b8c4cb;
}

.volume {
	width:70px;
	margin-right:0px;
	diaplay:inline-table;
}

.dataTables_info { 
	padding-top: 0; 
}

.dataTables_paginate { 
	padding-top: 0; 
}

.css_right { 
	float: right;
}

#example_wrapper .fg-toolbar { 
	font-size: 1.0em 
}

#theme_links span {
	float: left;
	padding: 2px 10px; 
}

.fg-button {
	margin:0px 5px 0px 5px;
	cursor:pointer;
}

.btn:link {
	color:black;
	display:block;
	width:75px;
	height:20px;
	border:2px solid #BBBBBB;
	background-color:#D4FFD4;
	text-decoration:none;
}

.btn:visited {
	color:black;
	border:2px solid #BBBBBB;
	text-decoration:none;
}

.btn:hover {
	border:2px solid #BBBBBB;
	background-color:#E6E6E6;
}
