body {
	background-color:white;
}

h2 {
	width:210px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}


.form-actions {
	position: fixed;
	right: 0; bottom: 0px; left: 0;
	margin-bottom:0px;
	padding-left:160px;
}

.content-container {
	margin-bottom:6%;
}
