body {
	margin-top:50px;
	background-color:#4B4B4B;	
}

.signInfo-container{
	border:1px solid black;
	padding:20px;
	margin-left:20%;
	margin-bottom:5%;
	width:831px;
	background-color:#FFFFFF;
}

.signInfo  table td{
	border:1px solid black;
}

.signInfo input{
	margin:5px;
	width:160px;
}

.signInfo select{
	border:0px;
	margin:5px;
	width:60px;
}

.signInfo h2{
	text-align:center;
	width:"831";
}

.form-actions {
	position:fixed;
	top:88%;
	width:100%;
	text-align:center;
}