<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>cn.edu.sicau.rs.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/Admin/pages/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SelfHomeFilter</display-name>
    <filter-name>SelfHomeFilter</filter-name>
    <filter-class>cn.edu.sicau.rs.filter.SelfHomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SelfHomeFilter</filter-name>
    <url-pattern>/selfHome.jsp</url-pattern>
  </filter-mapping> 
  <listener>
    <listener-class>cn.edu.sicau.rs.listener.AdminLoginListener</listener-class>
  </listener>
  <listener>
    <listener-class>cn.edu.sicau.rs.listener.UserLoginListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatepwdServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.UpdatePasswordSerlvet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveSignInfoServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.SaveSignInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSignInfoServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.UpdateSignInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownWordServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.DownWordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExcelDownLoadServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.ExcelDownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuListServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.StuListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuShowViewServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.StuShowViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminShowViewServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.AdminShowViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeStuStatusServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.ChangeStuStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminListServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.AdminListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSignInfoServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.ShowSignInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSignInfoServlet</servlet-name>
    <url-pattern>/showSignInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatepwdServlet</servlet-name>
    <url-pattern>/updatepwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveSignInfoServlet</servlet-name>
    <url-pattern>/saveSignInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSignInfoServlet</servlet-name>
    <url-pattern>/updateSignInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelDownLoadServlet</servlet-name>
    <url-pattern>/Admin/pages/excelDownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/Admin/pages/downLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeStuStatusServlet</servlet-name>
    <url-pattern>/Admin/pages/changeStuStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/Admin/login/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminListServlet</servlet-name>
    <url-pattern>/Admin/pages/adminListServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/Admin/pages/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuListServlet</servlet-name>
    <url-pattern>/Admin/pages/stuListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuShowViewServlet</servlet-name>
    <url-pattern>/Admin/pages/stuShowViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminShowViewServlet</servlet-name>
    <url-pattern>/Admin/pages/adminShowViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddNewsServlet</display-name>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/AddNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListNewsServlet</display-name>
    <servlet-name>ListNewsServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.ListNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNewsServlet</servlet-name>
    <url-pattern>/ListNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOneNewsServlet</display-name>
    <servlet-name>GetOneNewsServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.GetOneNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOneNewsServlet</servlet-name>
    <url-pattern>/GetOneNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RandomCodeServlet</display-name>
    <servlet-name>RandomCodeServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.RandomCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomCodeServlet</servlet-name>
    <url-pattern>/RandomCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckRandomCode</display-name>
    <servlet-name>CheckRandomCode</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.CheckRandomCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRandomCode</servlet-name>
    <url-pattern>/CheckRandomCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllNewsServlet</display-name>
    <servlet-name>GetAllNewsServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.GetAllNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllNewsServlet</servlet-name>
    <url-pattern>/GetAllNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNewsByIdServlet</display-name>
    <servlet-name>DeleteNewsByIdServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.DeleteNewsByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsByIdServlet</servlet-name>
    <url-pattern>/DeleteNewsByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopSignServlet</display-name>
    <servlet-name>TopSignServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.TopSignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopSignServlet</servlet-name>
    <url-pattern>/TopSignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserPageServlet</display-name>
    <servlet-name>GetUserPageServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.GetUserPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserPageServlet</servlet-name>
    <url-pattern>/GetUserPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInfoServlet</display-name>
    <servlet-name>AdminInfoServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.AdminInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfoServlet</servlet-name>
    <url-pattern>/AdminInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNewsPagerServlet</display-name>
    <servlet-name>GetNewsPagerServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.GetNewsPagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewsPagerServlet</servlet-name>
    <url-pattern>/GetNewsPagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownWordServlet</servlet-name>
    <url-pattern>/downWordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/Admin/pages/DeleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInformServlet</display-name>
    <servlet-name>GetInformServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.GetInformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInformServlet</servlet-name>
    <url-pattern>/GetInformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsCenterServlet</display-name>
    <servlet-name>NewsCenterServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.NewsCenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsCenterServlet</servlet-name>
    <url-pattern>/NewsCenterServlet</url-pattern>
  </servlet-mapping>
</web-app>