<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<!-- 
  <listener>
    <listener-class>cn.edu.sicau.rs.listener.UserLoginListener</listener-class>
  </listener>
-->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatepwdServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.UpdatePasswordSerlvet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSignInfoServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.UpdateSignInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExcelDownLoadServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.ExcelDownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuListServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.StuListServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>StuShowViewServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.StuShowViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatepwdServlet</servlet-name>
    <url-pattern>/updatepwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSignInfoServlet</servlet-name>
    <url-pattern>/updateSignInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelDownLoadServlet</servlet-name>
    <url-pattern>/Admin/pages/excelDownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/Admin/pages/downLoadServlet</url-pattern>
  </servlet-mapping>
<!--   
  <listener>
    <listener-class>cn.edu.sicau.rs.listener.AdminLoginListener</listener-class>
  </listener>
-->
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/Admin/pages/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuListServlet</servlet-name>
    <url-pattern>/Admin/pages/stuListServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>StuShowViewServlet</servlet-name>
    <url-pattern>/Admin/pages/stuShowViewServlet</url-pattern>
    </servlet-mapping>
  <servlet>
    <display-name>AddNewsServlet</display-name>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/AddNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListNewsServlet</display-name>
    <servlet-name>ListNewsServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.ListNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNewsServlet</servlet-name>
    <url-pattern>/ListNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOneNewsServlet</display-name>
    <servlet-name>GetOneNewsServlet</servlet-name>
    <servlet-class>cn.edu.sicau.rs.servlet.GetOneNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOneNewsServlet</servlet-name>
    <url-pattern>/GetOneNewsServlet</url-pattern>
  </servlet-mapping>
</web-app>